.form{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:0.5rem;
}
.form h3{
    margin: 1rem 0;
}
.input{
    padding-left: 0.5rem;
    height:3rem;
    width:90%;
    outline: none;
}
.login{
    background:red;
    border: none;
    color:white;
    width:30%;
    height: 3rem;
}